<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
    <form action="/disp_count" method="get">
        <button class="submit" style="position: absolute; right: 0px; top: 0px"> 現在の枚数を確認 </button>
    </form>

    <form action="/" method="post" class="board-form" id="target1">
        タイトル1: <input type="text" name="title" class="input" required><br>
        <br>
        <button type="submit" class="submit">ボード作成</button>
        <table border="1" cellspacing="1">
            <tr>
            <% var i =0 %>
            <% imageList.forEach(function(imageItem) { %>
                <% i += 1;%>
                <td>    <%= imageItem.id %></td>
                <td>    <img id ="img_id<%=i%>" name="img_file" src=<%= imageItem.image_path %>>   </td>
        <% if(i % 2 == 0){ %>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="submit_point" name="button<%=i-1%>" > aaa </button>
                    クリック回数:<span id="click_counter_id<%=i-1%>" style="margin-left: 10px;">0</span>
                    <p>左上[x]/[y]: <input id="x_l_u<%=i-1%>" class="input_point"></input>px/<input id="y_l_u<%=i-1%>" class="input_point"></input>px
                       右上[x]/[y]: <input id="x_r_u<%=i-1%>" class="input_point"></input>px/<input id="y_r_u<%=i-1%>" class="input_point"></input>px<br>
                       左中[x]/[y]: <input id="x_l_m<%=i-1%>" class="input_point"></input>px/<input id="y_l_m<%=i-1%>" class="input_point"></input>px
                       右中[x]/[y]: <input id="x_r_m<%=i-1%>" class="input_point"></input>px/<input id="y_r_m<%=i-1%>" class="input_point"></input>px<br>
                       左下[x]/[y]: <input id="x_l_b<%=i-1%>" class="input_point"></input>px/<input id="y_l_b<%=i-1%>" class="input_point"></input>px
                       右下[x]/[y]: <input id="x_r_b<%=i-1%>" class="input_point"></input>px/<input id="y_r_b<%=i-1%>" class="input_point"></input>px</p>
                </td>
                <td colspan="2">
                    <button type="submit" class="submit_point" name="button<%=i-1%>" > aaa </button>
                    <p>左上[x]/[y]: <input id="x_l_u<%=i%>" class="input_point"></input>px/<input id="y_l_u<%=i%>" class="input_point"></input>px
                       右上[x]/[y]: <input id="x_r_u<%=i%>" class="input_point"></input>px/<input id="y_r_u<%=i%>" class="input_point"></input>px<br>
                       左中[x]/[y]: <input id="x_l_m<%=i%>" class="input_point"></input>px/<input id="y_l_m<%=i%>" class="input_point"></input>px
                       右中[x]/[y]: <input id="x_r_m<%=i%>" class="input_point"></input>px/<input id="y_r_m<%=i%>" class="input_point"></input>px<br>
                       左下[x]/[y]: <input id="x_l_b<%=i%>" class="input_point"></input>px/<input id="y_l_b<%=i%>" class="input_point"></input>px
                       右下[x]/[y]: <input id="x_r_b<%=i%>" class="input_point"></input>px/<input id="y_r_b<%=i%>" class="input_point"></input>px</p>
                </td>
            </tr>
            <tr>
        <% } %>
            <% }); %>
            </tr>
        </table>
    </form>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script type="text/javascript">
        // クリック回数のカウント用
        window.onload = function () {
            document.getElementById("img_id1").onclick = function(){
                countUp();
            };
        }
        var $count = 0;
        function countUp() {
            document.getElementById("click_counter_id1").innerHTML = ++$count;
        }

        $("img[name='img_file']").on('click', function(e){
        //function get_point(){
            // マウスイベントを設定
            alert("mouseEvent!");
            // 動作を停止
            e.preventDefault();

            var img_id = e.toElement.id;
            var element = document.getElementById(img_id) ;

            // マウス位置を取得する
            var mouseX = e.pageX;	// X座標
            var mouseY = e.pageY;	// Y座標

            // 要素の位置を取得
            var element = document.getElementById(img_id);
            var rect = element.getBoundingClientRect();
            // 要素の位置座標を計算
            var positionX = rect.left + window.pageXOffset;	// 要素のX座標
            var positionY = rect.top + window.pageYOffset;	// 要素のY座標
            // 要素の左上からの距離を計算
            var offsetX = mouseX - positionX;
            var offsetY = mouseY - positionY;

            if (img_id=="")
            var click_cnt = document.getElementById("click_counter_id1").outerText;

            if (img_id=="img_id1"){
                if(click_cnt ==0) {
                    var xluElement = document.getElementById("x_l_u1");
                    var yluElement = document.getElementById("y_l_u1");
                }else if(click_cnt==1){
                    var xruElement = document.getElementById("x_r_u1");
                    var yruElement = document.getElementById("y_r_u1");
                }else if(click_cnt==2){
                    var xlmElement = document.getElementById("x_l_m1");
                    var ylmElement = document.getElementById("y_l_m1");
                }
            }

            // 結果の書き出し
            if (click_cnt == 0) {
                xluElement.value = Math.floor(offsetX);
                yluElement.value = Math.floor(offsetY);
            } else if (click_cnt == 1) {
                xruElement.value = Math.floor(offsetX);
                yruElement.value = Math.floor(offsetY);
            } else if (click_cnt == 1) {
                xlmElement.value = Math.floor(offsetX);
                ylmElement.value = Math.floor(offsetY);
            }

            var click_cnt = document.getElementById("click_counter_id1").outerText;

        });

    </script>
</div>
</body>
</html>
